/*
 *= require normalize
 *= require fonts/font-awesome
 *= require avgrund
 *= require_tree ./base
 *= require theme
*/

.prompt {
  margin-bottom: 12px;
}

.small {
  font-size: 0.8em;
}

body {
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url('/assets/test_bg.jpg'); */
}

#whiteout {
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

#cover {
  width: 100%;
  height: 100%;
  /* background-color: #aab782; */
  opacity: 0.8;
}

.post.collapsed * {
  font-size: 0.8em !important;
}

#cover.shadow {
  /*-webkit-box-shadow: inset -8px 0px 30px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:    inset -8px 0px 30px rgba(0, 0, 0, 0.9);
  box-shadow:         inset -8px 0px 30px rgba(0, 0, 0, 0.9);*/
}

#effect {
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url('/assets/test_bg.jpg'); */
  width: 100%;
  height: 100%;
  /*
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  */
}

header.admin {
  width: 100%;
  display: block;
  background-color: #fff;
  height: 64px;
  text-align: left;
  line-height: 64px;
  position: relative;
  -webkit-box-shadow: 0px 0px 22px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 22px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 22px rgba(50, 50, 50, 0.75);
}

.muted {
  color: #aaa;
}

form#new_user {
  input[type=text], input[type=email], input[type=password] {
    margin-bottom: 1.2em;
  }
}