/*
 *= require normalize
 *= require fonts/font-awesome
 *= require avgrund
 *= require_tree ./base
 *= require theme
*/

.prompt {
  margin-bottom: 12px;
}

.small {
  font-size: 0.8em;
}

header.admin {
  width: 100%;
  display: block;
  background-color: #fff;
  height: 64px;
  text-align: left;
  line-height: 64px;
  position: relative;
  -webkit-box-shadow: 0px 0px 22px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 22px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 22px rgba(50, 50, 50, 0.75);
}

.muted {
  color: #aaa;
}

form#new_user {
  input[type=text], input[type=email], input[type=password] {
    margin-bottom: 1.2em;
  }
}